* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
img {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(87, 7, 87);
}

.logo {
    width: 2rem;
    margin: 0.5rem;
}

.navbar-links {
    display: none;
    /* height: 100%; */
    position: absolute;
    top: 1.6rem;
    right: 0rem;
}

.navbar-links ul {
    /* display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 0 0; */
}

.navbar-links li {
    list-style: none;
    padding: 1rem 1rem 0.4rem 0;
    border-bottom: 0.1rem solid black;
    background: rgba(83, 3, 99, 0.7);
    
}

.navbar-links a {
    margin: 0;
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
}

.hamburger-toggle {
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
}

.hamburger-toggle .bar {
    width: 100%;
    height: 0.2rem;
    border-radius: 0.3rem;
    background: white;
}

.img-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.profile-img {
    max-width: 10rem;
    border: 0.2rem solid rgb(87, 7, 87);
    border-radius: 5rem;
}

.name {
    margin-top: 0.5rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(87, 7, 87);
    color: white;
    padding: 1.5rem 2.5rem;
}

/* .about-me h3,
.about-me .underline {
    text-align: center;
} */

.about-me .underline {
    width: 7rem;
}

.about-me p {
    text-align: justify;
    font-size: 0.7rem;
    margin: 1rem 0 1.7rem 0;
}

.skillset h3 {
    text-align: center;
}

.skillset-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
}

.skill-item {
    padding: 0 1rem;
}

.skillset-img {
    width: 1.5rem;
    margin-top: 1.7rem;
}

.active {
    display: block;
}

@media(min-width: 400px) {

}