* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h4,
img {
    margin: 0;
}

.header,
ul,
.language-tool {
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background: purple;
}

.logo {
    width: 15%;
    border: 2px dashed white;
    border-radius: 25px;
    padding: 10px;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    padding: 0 20px;
    color: white;
    font-weight: bolder;
}

.img-and-name {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px 0;
}

.profile-img {
    width: 30%;
    border: 5px solid purple;
    border-radius: 50%;
}

.name {
    padding-top: 20px;
}

.about-me {
    background: purple;
    color: white;
    padding: 50px 300px;
    text-align: center;
}

.about-me h1,
.about-me p,
.language-tool {
    margin-bottom: 30px;
}

.language-tool h4 {
    padding: 0 10px;
}
