* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h4,
img {
    margin: 0;
}

.header,
ul,
.language-tool {
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 10px;
    background: purple;
}

.logo {
    width: 30%;
    border: 2px dashed white;
    border-radius: 25px;
    padding: 5px;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    padding: 0 5px;
    color: white;
    font-weight: bolder;
    font-size: 13px;
}

.img-and-name {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 0;
}

.profile-img {
    width: 250px;
    border: 5px solid purple;
    border-radius: 50%;
}

.name {
    padding-top: 20px;
    font-size: 20px;
}

.about-me {
    background: purple;
    color: white;
    padding: 20px 55px;
    text-align: center;
    font-size: 18px;
}

.about-me h1,
.about-me p,
.language-tool {
    margin-bottom: 30px;
}

.language-tool {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.language-tool img {
    width: 35px;
    height: 35px;
    margin: 15px 0;
}

.language-tool h4 {
    padding: 0 20px 0 5px;
}

@media (min-width: 420px) {
    .logo {
        width: 180px;
    }

    li a {
        padding: 0 20px;
        font-size: 20px;
    }

    .profile-img {
        width: 350px;
    }

    .name {
        font-size: 25px;
    }

    .about-me {
        font-size: 22px;
    }
}

@media (min-width: 1025px) {
    .profile-img {
        width: 380px;
    }

    .name {
        font-size: 28px;
    }
}